@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Silkscreen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    font-family: 'Lato',sans-serif;
}
.outer-space{
    width: 100vw;
    height: 100vh;
    background:linear-gradient( to top left, #09213f, #1f2d74);
}
.inner-space{  
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40px;
    background:linear-gradient(to top left, rgb(41, 78, 131), rgba(37, 126, 126, 0.2));
    border-radius: 8px;
    backdrop-filter: blur(8px);
    box-shadow: 2px 2px 5px #3b5261;
    z-index: 2;
    padding: 20px 40px;
    transform: translateY(-0%);
}
header h1{
    font-size:2.5rem;
    color: #bbadad;;
}
header p{
    font-size: 0.95rem;
    color: #555;
    margin-top: 5px
}
main {
    margin: 20px 0;
}
main p{
    margin: 10px 0;
}
main p label{
    display: block;
    font-weight: bold;
}
input{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #cccc;
    border-radius: 4px;
    margin-top: 4px;
}
input[type="submit"]{
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #2773a5;
}
footer p {
    color: #555;
    text-align: center;
}
footer p a {
    color: #2773a5;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top left, #ffffff33, #ffffffff);
    position: absolute;
}
.c1{
    top: 100px;
    left: 500px;
    overflow: hidden;
}
.c2{
    bottom: 200px;
    right: 450px;
    overflow: hidden;

}
span{
    position: relative;
    top: 2px;
    left: 5px;
    color: red;
    font-weight: 600;
}




